{% extends "base.html" %}
{% block content %}
<div class='page-wrapper'>
  <div class='page-header'>
    <h1 class='rainbow-text'>Artist Directory</h1>
    <p>Meet the artists of the DropZone community</p>
  </div>
  <div class='user-grid'>
    {% for artist in artists %}
      <div class='user-card'>
        <div class='big-avatar' style='{{ artist.av_style | safe }}'>{{ artist.initial }}</div>
        <h3>{{ artist.username }}</h3>
        <p style='margin-bottom:6px'>{{ artist.city }}</p>
        <p style='font-size:.75rem;line-height:1.4'>{{ artist.bio }}</p>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}